################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/2017-05-04/.vs/ITrackERP/v15/sqlite3
