<div id="AssetDetail" ng-controller="app.views.assets.update as vm">
    <route-loading-indicator></route-loading-indicator>
    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
            Assets
        </div>

        <div uib-collapse="isCollapsed" class="panel-body">


            <h3 class="block">{{vm.asset.assetNo}} Details</h3>
            
            <div class="panel-body">
                <form name="assetUpdateForm" role="form" novalidate class="form-validation">
                    <div class="row margin">
                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Asset No </label>
                            
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.assetNo" name="assetNo" ng-messages="assetUpdateForm.assetNo.$error" required />

                                <div ng-messages="assetUpdateForm.assetNo.$error" ng-if="assetUpdateForm.assetNo.$touched">

                                    <div ng-messages-include="/App/Main/views/messages.html"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Asset Name </label>
                            
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.assetName" name="assetName" ng-messages="assetUpdateForm.assetName.$error" required />

                                <div ng-messages="assetUpdateForm.assetName.$error" ng-if="assetUpdateForm.assetName.$touched">

                                    <div ng-messages-include="/App/Main/views/messages.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row margin">
                       
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Asset Type</label>
                            <div class="controls">
                                <input type="text" typeahead-on-select="getCustomFieldsEvent ()" ng-model="selectedAssetType" uib-typeahead="custom as custom.itemType for custom in vm.customfieldsetups | filter:$viewValue | limitTo:8" class="form-control" required>
                                <span class="help-inline"></span>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Alternet Asset </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.alternetAsset" />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row margin">
                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Asset Status</label>
                            <div class="controls">
                                <select class="form-control" name="type" ng-model="vm.asset.assetStatus" required>
                                    <option value="Production">Production</option>
                                    <option value="None Production">None Production</option>
                                </select>
                                <span class="help-inline"></span>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Warranty Period</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.warrantyPeriod" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row margin">
                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Purchase Location </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.purchaseLocation"/>
                                <span class="help-inline"></span>

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Location</label>
                           
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.location" name="location" ng-messages="assetUpdateForm.location.$error" required />

                                <div ng-messages="assetUpdateForm.location.$error" ng-if="assetUpdateForm.location.$touched">

                                    <div ng-messages-include="/App/Main/views/messages.html"></div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row margin">
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Asset Used By</label>
                            <div class="controls">
                                <input type="text" typeahead-on-select="setLineNo($item)" ng-model="selectedLineNo" uib-typeahead="department as department.name for department in vm.departments | filter:$viewValue | limitTo:8" class="form-control">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Category 01 </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.category01 " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>


                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Category 02 </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.category02 " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Category 03 </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.category03 " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Category 04 </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.category04 " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Category 05 </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.category05 " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row margin">
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption1}}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField1  " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption2}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField2  " />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption3}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField3" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption4}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField4" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>

                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption5}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField5" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">{{vm.customcaption6}}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.customField6" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                    </div>
                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Purchase Date </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.purchaseDate" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Purchase Price  </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.purchasePrice" />
                                <span class="help-inline"></span>

                            </div>
                        </div>


                    </div>

                    <div class="row margin">

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Supplier Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.supplierName" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Depreciation Mode  </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.depreciationMode" />
                                <span class="help-inline"></span>

                            </div>
                        </div>
                    </div>


                    <div class="row margin">

                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Description  </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.description" />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Current Value </label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.asset.currentValue" />
                                <span class="help-inline"></span>

                            </div>
                        </div>

                        <hr />
                        <div class="event-actions">
                            <a class="btn btn-primary btn-sm btn-green small-icons" ng-click="vm.update()"><i class="fa fa-arrow-circle-left"></i>Save</a>

                            <a class="btn btn-primary btn-sm btn-blue small-icons" ng-click="vm.backToEventsPage()"><i class="fa fa-arrow-circle-left"></i> back to assets</a>

                        </div>


                    </div>
                </form>
</div>

    </div>
</div>