
<div id="dailyplanheader">
    <route-loading-indicator></route-loading-indicator>
    <form name="dailyplanheaderCreateForm" role="form" novalidate class="form-validation">




        <div class=" margin">
            <!--  <h3 class="block">{{}} Details </h3>-->
        </div>

        <div class="panel-body">
            <div class="row margin">

                <div class="col-md-6 col-sm-12 margin">
                    <label class="control-label">Date </label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="fdate" is-open="dpOpenStatus.fdate" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="setDpOpenStatus('fdate', $event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Remark </label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.dailyplanheader.remark" name="remark" ng-maxlength="100" ng-messages="dailyplanheaderCreateForm.remark.$error" />

                        <div ng-messages="dailyplanheaderCreateForm.remark.$error" ng-if="idailyplanheaderCreateForm.remark.$touched">

                            <div ng-messages-include="/App/Main/views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>

          
            <hr />

            <div class="event-actions">



                <a class="btn btn-sm btn-green" ng-click="vm.save()"><i class="fa fa-arrow-circle-left"></i> Save </a>

                <a class="btn btn-sm btn-blue" ng-click="vm.cancel()"><i class="fa fa-arrow-circle-left"></i> Cancel</a>

            </div>


        </div>

    </form>


</div>