
<div id="updateStyleLoading2">
    <route-loading-indicator></route-loading-indicator>
    <div class="hpanel">
        <div class="panel-heading">
            <div class="panel-tools">
                <a class="showhide" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
                <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
            Style Loading
        </div>

        <div uib-collapse="isCollapsed" class="panel-body">

            <h3 class="block">{{vm.machinerequirement.styleNo}} Update</h3>

            <div class="panel-body">
                <form name="machineRequirementUpdateForm" role="form" novalidate class="form-validation">
                    <div class="row margin">
                        <div class="col-md-6 col-sm-12 margin">
                            <label class="control-label">Line No</label>
                            <div class="controls">
                                <input type="text" ng-model="selectedLineNo" uib-typeahead="department as department.name for department in vm.departments | filter:$viewValue | limitTo:8" class="form-control" required>
                                <span class="help-inline"></span>
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Style No</label>
                            <div class="controls">
                                <input type="text" ng-model="selectedStyle" uib-typeahead="style as style.styleNo for style in vm.styles | filter:$viewValue | limitTo:8" class="form-control" required>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row margin">
                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Location Code</label>
                            <div class="controls">
                                <select class="form-control" name="type" ng-model="vm.machinerequirement.locationCode" required>
                                    <option value="VTW">VTW</option>
                                    <option value="VTH">VTH</option>
                                    <option value="VTK">VTK</option>
                                    <option value="TGZ">TGZ</option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="control-label">Remark</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="vm.machinerequirement.remark" name="remark" ng-maxlength="100" ng-messages="machineRequirementUpdateForm.remark.$error" />

                                <div ng-messages="machineRequirementUpdateForm.remark.$error" ng-if="machineRequirementUpdateForm.remark.$touched">

                                    <div ng-messages-include="/App/Main/views/messages.html"></div>
                                </div>
                            </div>
                        </div>                      
                    </div>


                    <hr />
                    <div class="event-actions">
                        <a class="btn btn-primary btn-sm btn-green small-icons" ng-click="vm.update()"><i class="fa fa-arrow-circle-left"></i>Save</a>

                        <a class="btn btn-primary btn-sm btn-blue small-icons" ng-click="vm.cancel()"><i class="fa fa-arrow-circle-left"></i>Cancel</a>

                    </div>

                </form>
            </div>
        </div>

    </div>


</div>
