
<div id="employee">
    <route-loading-indicator></route-loading-indicator>
    <form name="employeeCreateForm" role="form" novalidate class="form-validation">

        <div class=" margin">
            <h3 class="block">{{vm.employee.fullName}} Details </h3>
        </div>

        <div class="panel-body">
            <div class="row margin">

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Full Name</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.fullName" name="fullName" ng-messages="employeeCreateForm.fullName.$error" required />

                        <div ng-messages="employeeCreateForm.fullName.$error" ng-if="employeeCreateForm.fullName.$touched">

                            <div ng-messages-include="/App/Main/views/messages.html"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Nic No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.nicNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>
            </div>



            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">EPF No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.epfNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">ETF No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.etfNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>
            </div>


                <div class="row margin">

                    <div class="col-md-6 col-sm-12 margin">
                        <label class="control-label">Date of Birth</label>

                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="fdate" is-open="dpOpenStatus.fdate" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-default"
                                        ng-click="setDpOpenStatus('fdate', $event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>

                
                    <div class="col-md-6 col-sm-12">
                        <label class="control-label">Gender</label>
                        <div class="controls">
                            <select class="form-control" name="type" ng-model="vm.employee.gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span class="help-inline"></span>

                        </div>
                    </div>
                </div>
            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Marital Status</label>
                    <div class="controls">
                        <select class="form-control" name="type" ng-model="vm.employee.maritalStatus">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                        </select>
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12 margin">
                    <label class="control-label">Department</label>
                    <div class="controls">
                        <input type="text" typeahead-on-select="setLineNo($item)" ng-model="selectedLineNo" uib-typeahead="department as department.name for department in vm.departments | filter:$viewValue | limitTo:8" class="form-control" required>
                        <span class="help-inline"></span>
                    </div>

                </div>
            </div>

            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Designation</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.designation" />
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Job Status</label>
                    <div class="controls">
                        <select class="form-control" name="type" ng-model="vm.employee.jobStatus">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <span class="help-inline"></span>

                    </div>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Address</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.address" />
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Mobile No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.mobileNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Land No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.landNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12 margin">
                    <label class="control-label">Email</label>

                    <div class="controls">
                        <input type="email" class="form-control" ng-model="vm.employee.emailAddress" name="emailAddress" ng-messages="employeeCreateForm.emailAddress.$error" />

                        <div ng-messages="employeeCreateForm.emailAddress.$error" ng-if="employeeCreateForm.emailAddress.$touched">

                            <div ng-messages-include="/App/Main/views/messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Emergency Contact No</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.emergencyContactNo" />
                        <span class="help-inline"></span>

                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="control-label">Emergency Contact Person</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="vm.employee.emergencyContactPerson" />
                        <span class="help-inline"></span>

                    </div>
                </div>
            </div>

            <div class="row margin">
                <div class="col-md-6 col-sm-12">
                    <br>Image:
                    <input type="file" name="file" ngf-select ng-model="file" ngf-pattern="'image/*'" ngf-accept="'image/*'">

                    <i ng-show="employeeCreateForm.file.$error.maxSize">
                        File too large
                        {{errorFile.size / 1000000|number:1}}MB: max 2M
                    </i>
                    <img ng-show="employeeCreateForm.file.$valid" ngf-thumbnail="file" class="thumb"> <button ng-click="file = null" ng-show="file">Remove</button>
                    <br>

                    <span class="progress" ng-show="file.progress >= 0">
                        <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'"></div>
                    </span>
                    <span ng-show="file.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>
                <hr />

                <div class="event-actions">



                    <a class="btn btn-sm btn-green" ng-click="vm.save()"><i class="fa fa-arrow-circle-left"></i> Save </a>

                    <a class="btn btn-sm btn-blue" ng-click="vm.cancel()"><i class="fa fa-arrow-circle-left"></i> Cancel</a>

                </div>


            </div>

    </form>


</div>